* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header start */
nav {
    margin-bottom: 20px;
}

nav  .container {
    padding: 0 16px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    height: 40%;
    margin-right: 15px;
}

.nav-logo img {
    height: 100%;
}

.nav-searchbox {
    height: 30px;
    max-width: 640px;
    width: 60vw;
    display: flex;
}

.nav-searchbox .searchbox-input, .nav-searchbox .searchbox-submit {
    height: 100%;
    border: 1px solid #CCCCCC;
}

.nav-searchbox .searchbox-input {
    padding: 0 0 0 12px;
    width: 90%;
}

.nav-searchbox .searchbox-submit {
    width: 10%;
    border-left: none;
    background: none;
    overflow: hidden;
    cursor: pointer;
}

.nav-searchbox .searchbox-submit:hover {
    background: #f0f0f0;
}

.nav-searchbox .searchbox-submit img {
    height: 70%;
    opacity: 0.7;
}

.nav-socials {
    display: flex;
}

.socials-button {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 5px;
}

.socials-button:last-child {
    margin-right: 0;
}

.socials-button img{
    border-radius: 50%;
    height: 100%;
    padding: 7px
}

.socials-button:hover img {
    background: #E7E7E7;
}

/* Header end */

